p {
    color: red;
  }
  #header{
    border: 2px solid rgb(31, 29, 29);
    padding: 5px;
    margin:  5px;
  }
  
  #footer{
    border: 2px solid red;
    margin-bottom: 6px;
    margin: 10px;
  }
  #foto{
    border: 2px solid green;
    border-radius: 50%;
    margin: 10px;
  }
  #acerca_de{
    border: solid lightblue;
    margin: 10px;
    width: 400px;
    height: 400px;
  }
  #contenedor_central{
    border: 3px solid gray;
    padding: 10px;
    margin:  10px;
  }
  #foto_circle{
    border-radius: 50%;
    border: 2px solid goldenrod;
    
  }
  #article_main{
    border: 2px solid violet;
    margin: 10px;
  }
  #experiecia{
    border-radius: 50%;
    border: 2px solid rgb(32, 218, 41);
    
  }
  #skills{
    border-radius: 50%;
    border: 2px solid rgb(32, 218, 41);
    
  }
  #creaciones{
    border-radius: 50%;
    border: 2px solid rgb(32, 218, 41);
    
  }
  #datos_contact{
    border-radius: 50%;
    border: 2px solid rgb(32, 218, 41);
    
  }
  #art_experiencia{
    border: 2px solid rgb(110, 131, 228);
    margin: 10px;
  }
  
  #art_skills{
    border: 2px solid rgb(117, 201, 176);
    margin: 10px;
  }
  
  #art_creaciones{
    border: 2px solid rgb(216, 162, 233);
    margin: 10px;
  }
  #art_data_per_contact{
    border: 2px solid rgb(187, 228, 110);
    margin: 10px;
  }
  