  p {
    color: red;



  }
  #header{
    border: 2px solid rgb(31, 29, 29);
    padding: 5px;
    margin:  5px;
  }
  
  #footer{
    border: 2px solid red;
    margin-bottom: 6px;
    margin: 10px;
  }
  #foto{
    border: 2px solid green;
    border-radius: 50%;
    margin: 10px;
  }
  #acerca_de{
    border: solid lightblue;
    margin: 10px;
    width: 400px;
    height: 400px;
  }
  #contenedor_central{
    border: 3px solid gray;
    padding: 10px;
    margin:  10px;
    display: block;
  }
  #foto_circle{
    border-radius: 50%;
    border: 2px solid goldenrod;
    
  }
  #article_main{
    border: 2px solid violet;
    margin: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: auto;
  }

#row_article_main{
  align-items: center;
  display: flex;
  justify-content: center;
}

  #experiencia{
    border-radius: 50%;
    width: 135px;
    height: 135px;
    background-color: rgb(110, 131, 228);
    margin: 1%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  

  #skills{
    border-radius: 50%;
    width: 135px;
    height: 135px;
    background-color: rgb(117, 201, 176);
    
    margin: 1%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  #creaciones{
    border-radius: 50%;
    width: 135px;
    height: 135px;
    background-color:rgb(216, 162, 233);
   
    margin: 1%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  #contact{
    border-radius: 50%;
    width: 135px;
    height: 135px;
    background-color: rgb(187, 228, 110);
   
    
    margin: 1%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  #art_experiencia{
    border: 2px solid rgb(110, 131, 228);
    margin: 10px;
    display: none;
    background-color:rgb(110, 131, 228); 
  }
  
  #art_skills{
    border: 2px solid rgb(117, 201, 176);
    margin: 10px;
    display: none;
    background-color: rgb(117, 201, 176);
  }
  
  #art_creaciones{
    border: 2px solid rgb(216, 162, 233);
    margin: 10px;
    display: none;
    background-color: rgb(216, 162, 233);
  }
  #art_contact{
    border: 2px solid rgb(187, 228, 110);
    margin: 10px;
    display: none;
    background-color: rgb(187, 228, 110);
  }
  